<!---<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token%>" >
</br>
Title: <input type="text" name="title" value="<%= @idea.title %>">
</br>
Description: <textarea name="description" rows="8" cols="40" ><%= @idea.description%></textarea>
</br>
Planned to: <input type="text" name="planned_to" value="<%= @idea.planned_to%>">
</br>
<button type="submit" name="button" >Gönder</button> 
<br/>
-->
<%= form_for @idea do |f| %>
	<%= f.label :title%><br>
	<%= f.text_field :title, placeholder: 'title' %><br><br>
	<%= f.label :description%><br>
	<%= f.text_area :description, placeholder: 'description', rows: 10 %><br><br>
	<%= f.label :planned_to%><br>
	<%= f.date_select :planned_to %><br><br>
	<%= f.submit 'Gonder'%>
<% end %>
<!--
<br/>
<%= form_tag ideas_path, method: :post do %>
	<%= text_field_tag "title" %>
	<%= text_area_tag 'description'%>
	<%= date_field_tag 'planned_to'%>
	<%= submit_tag "Gonder2" %>
<%end%>
-->