<h1> <%= @category.title %></h1>

<% @category.ideas.each do |idea| %>
	<br/>
	<li>
	<%= link_to idea.title, idea_path(idea) %>
	<b>Description: </b><%= idea.description %>
	<b>Planned to: </b><%= idea.planned_to %>
	<b>Category: </b><%= idea.category.title %>
	</li>
<%end%>
